---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Charge from '../components/Charge.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Proyectos from '../components/Proyectos.astro';
import Proyec2 from '../components/Proyectos.astro';
import Carrusel from '../components/Carrusel.astro';

---

<Layout title="Diego Ramos"> 
    <main class="relative w-full h-screen overflow-auto scroll">

		<!-- Hero Sections -->
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<Charge />
		</div>
		<div class="snap-center">
			<Proyec2 />
		</div>
		</main>
</Layout>
