<section class="landing-section bg-gradient-to-b from-slate-900 to-indigo-950 py-24 px-4 lg:px-16"> 
    <h1 class="text-center text-white text-6xl font-serif pb-20 m-0 ">Portfolio</h1>
    <div class="container mx-auto px-[12px] md:px-24 xl:px-12 max-w-[1300px] nanum2">
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-x-6 gap-y-32 lg:gap-y-24">

            <div class="relative group h-58 flex flex-col rounded-xl bg-slate-950 bg-clip-border text-white shadow-md">
                <a href="#" class="block">
                    <div class=" h-32 xl:h-36">
                        <div class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 lg:group-hover:top-[-30%] lg:group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-slate-950 rounded-xl justify-items-center align-middle">
                            <img class="rounded-lg h-56 w-full" src="/osmo.png" alt="">
                        </div>
                    </div>
                    <div class="p-6 z-10 w-full">
                        <p class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-normal antialiased">
                            Osmo Landing
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-58 flex flex-col rounded-xl bg-slate-950 bg-clip-border text-white shadow-md">
                <a href="#" class="block">
                    <div class="h-32 xl:h-36">
                        <div class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 lg:group-hover:top-[-30%] lg:group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-slate-950 rounded-xl justify-items-center align-middle">
                            <img class="rounded-lg h-56 w-full" src="/gymsis.png" alt="">
                        </div>
                    </div>
                    <div class="p-6 z-10 w-full">
                        <p class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-normal antialiased">
                            Gymsis App
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-58 flex flex-col rounded-xl bg-slate-950 bg-clip-border text-white shadow-md">
                <a href="#" class="block">
                    <div class="h-32 xl:h-36">
                        <div class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 lg:group-hover:top-[-30%] lg:group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-slate-950 rounded-xl justify-items-center align-middle">
                            <img class="rounded-lg h-56 w-full" src="/tesla.png" alt="">
                        </div>
                    </div>
                    <div class="p-6 z-10 w-full">
                        <p class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-normal antialiased">
                            Clon Tesla Landing
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-58 flex flex-col rounded-xl bg-slate-950 bg-clip-border text-white shadow-md">
                <a href="#" class="block">
                    <div class="h-32 xl:h-36">
                        <div class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 lg:group-hover:top-[-30%] lg:group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-slate-950 rounded-xl justify-items-center align-middle">
                            <img class="rounded-lg h-56 w-full" src="/tesla.png" alt="">
                        </div>
                    </div>
                    <div class="p-6 z-10 w-full">
                        <p class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-normal antialiased">
                            Web Proyectos Marpe
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    
</section>

<footer class=" border-t-2 border-indigo-900 bg-gradient-to-b from-indigo-950 to-slate-900 dark:bg-gradient-to-b dark:from-indigo-950 dark:to-slate-900">
    <div class="container flex flex-col items-center justify-between p-6 mx-auto space-y-4 sm:space-y-0 sm:flex-row">
        <a href="/">
            <img class="w-auto h-10" src="/avatar1.png" alt="">
        </a>

        <p class="text-sm text-white dark:text-white">© Copyright 2024. Made By Diego Ramos. All Rights Reserved </p>

        <div class="flex -mx-2">
            <a href="https://api.whatsapp.com/send/?phone=584245407423&text&type=phone_number&app_absent=0" target="_blank" class="mx-2 text-gray-300 transition-colors duration-300 dark:text-gray-300 hover:text-indigo-400 dark:hover:text-indigo-400" aria-label="Reddit">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            </a>

            <a href="https://www.instagram.com/diegoaramosg?igsh=cGFwcHk4OTF3eHBn&utm_source=qr" target="_blank" class="mx-2 text-gray-300 transition-colors duration-300 dark:text-gray-300 hover:text-indigo-400 dark:hover:text-indigo-400" aria-label="Facebook">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
            </a>

            <a href="https://www.linkedin.com/in/diego-ramos-2a5a7a221/" target="_blank" class="mx-2 text-gray-300 transition-colors duration-300 dark:text-gray-300 hover:text-indigo-400 dark:hover:text-indigo-400" aria-label="Github">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
            </a>
        </div>
    </div>
</footer>
